<div id="<%= dom_id order_item %>">
  <p>
    <strong>Qty:</strong>
    <%= order_item.qty %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_item.price %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= order_item.food_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_item.order_id %>
  </p>

</div>
