<tr class="border-b border-gray-100">
  <td class="px-0 py-5 align-top max-w-0">
    <div class="font-medium text-gray-900 truncate"><%= item.food.name%></div>
    <div class="text-gray-500 truncate"><%= item.food.description %></div>
  </td>
  <td class="hidden py-5 pl-8 pr-0 text-right text-gray-700 align-top tabular-nums sm:table-cell"><%= item.qty %></td>
  <td class="hidden py-5 pl-8 pr-0 text-right text-gray-700 align-top tabular-nums sm:table-cell"><%= number_to_currency(item.price, unit: "₹") %></td>
  <td class="py-5 pl-8 pr-0 text-right text-gray-700 align-top tabular-nums"><%= number_to_currency(item.total, unit: "₹") %></td>
</tr>